:root{
    /* colors variables */
    --text-grey: #3f4954;
    --text-light:#686666da;
    --bg-color: #0f0f0f;
    --white:#ffffff;
    --mid-night: #104f55;

        /* gradient color   */
        --sky: #09aeae;


    /* text fonts variables */
    --abelFonts:'Abel', sans-serif;
    --anton: 'Anton', sans-serif;
    --josefin: 'Josefin Sans', sans-serif;
    --lexend: 'Lexend', sans-serif;
}
body *{
    transition: all 0.3s ease-in;
}
html body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    /* background-color: red; */
    width: 100%;
    color: var(--text-grey);

}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.nav-brand{
    color: var(--text-grey);
    padding: 1rem 0.6rem;
    font-size: 25px;
    font-family: var(--abelFonts);
}
.nav-brand a{
    color: var(--text-grey);
}

.nav-items{
    font-family: var(--abelFonts);
    font-weight: bolder;
    display: flex;
    flex-direction: row;
}
.nav-links{
    padding: 0.5rem 1rem;
}
.nav-links a{
    color: var(--text-grey);
}
.nav-links:hover{
    background-color: var(--mid-night);
}
.nav-links:hover a{
    color: white;
}
.social-links{
    padding: 1rem 0.6rem;
}
.social-links a{
    color: var(--text-grey);
    padding: 0rem 0.2rem;
}
 /* end of styling for Navbar */

 main{
     /* background-color: yellowgreen; */
     background-image: url(/assets/Background-image.png);
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
     height: 110vh;
 }
 .main-text{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding-top: 100px;
 }
 main h2{
     margin-bottom: 0;
     font-family: var(--josefin);
 }
 main h1{
     margin-top: 5px;
     font-family: var(--lexend);
     font-size: 35px;
 }
 main button{
     /* background-color: var(--mid-night); */
     width: 10rem;
     padding: 1.2rem;
     border: none;
     /* color: white; */
     background-color: white;
     color: black;
     font-family: var(--lexend);
}
main button:hover{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
}
.blog{
    background: url('../assets/Abract01.png');
    /* margin-top: 350px; */
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
}
.blog-post{
    padding-top: 6rem;
}
.blog-content{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:rgba(245, 248, 248, 0.712);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    font-family: var(--abelFonts);
    margin: 2rem 3rem;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}
.blog button{
    width: 6rem;
    padding: 0.8em;
    border: none;
    border-radius: 20px;
    background-color: var(--mid-night);
    font-weight: lighter;
    color: white;
    font-family: var(--lexend);
    letter-spacing: 1px;  
}
.blog span{
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    font-size: 14px;
}
.section3{
    margin: 5rem 5rem;
    
}
.postImg{
    position: relative;
}
.img{
    overflow: hidden;
}
.img>img{
    object-fit: cover;
    width: 100%;
    transition: all 1s ease;
}
.img>img:hover{
    transform: scale(1.3);
}
.siteContent{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 70% 30%;
}
.posts{
    padding: 25px;
}
.sidebar{
    padding-left: 50px;
}
.postContent hr{
    margin-bottom: 20px;
}
.postInfo{
        background-color: var(--sky);
        border-radius: 50px;
        width: 20rem;
        padding: 1rem;
        color:var(--text-grey);
        font-size: 14px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: -5%;
        text-align: center;
        /* margin: 1rem; */
}
.postInfo span{
    font-family: var(--abelFonts);
    margin: 0.5rem;
}
.post-title{
    padding-top: 3rem;
    color: var(--text-grey);
    font-family: var(--anton);
    padding-bottom: 1rem;
}
.post-title a{
    text-decoration: none;
    color: var(--text-grey);
    font-size: 25px;
}
.post-title p{
    font-weight: lighter;
    font-family: var(--abelFonts);
}
.post-title button{
    width: 8rem;
    padding: 0.5rem;
    border: none;
    background-color: var(--sky);
    font-family: var(--lexend);
    font-size: 15px;
    font-weight:300;
}
.post-title button:hover{
    transform: scale(1.05);
}
.catagory{
    margin-top: 40px;
    font-family: var(--josefin);
    margin-bottom: 100px;
}
.catagory ul{
    padding-left: 0px;
    padding-top: 0;
}
.catagorylist{
    display: flex;
    flex-direction: column;
}

.list-item{
    display: flex;
    justify-content:space-between;
    background-color: var(--sky);
    margin: 5px 0;
    padding: 8px;
    border-radius: 20px;
    color: black;
    font-family: var(--abelFonts);

}
.list-item a{
    color: black;
    font-family: var(--abelFonts);
}

/* css for popular post blow*/

.popularPost{
    font-family: var(--josefin);
    padding: 10px;
    margin-top: 100px;
}
.popularPost-content{
    margin-bottom: 50px;
}
.popularPost-img{
    position: relative;
}
.popularImage{
    overflow: hidden;
}
.popularImage>img{
    object-fit: cover;
    width: 100%;
    transition: all 1s ease;
}
.popularImage>img:hover{
    transform: scale(1.2);
    /* z-index: -1; */
}
.popularPost-info {
    position: absolute;
    left: 0;
    bottom: -12%;
    overflow: visible;
    background-color: white;
    color:var(--text-grey);   
    font-size: 14px;
    text-align: left;
    padding: 8px;
    font-family: var(--abelFonts);
}

.popularPost-title{
    padding-top: 20px;
}
.popularPost-title a{
    text-decoration: none;
    color: var(--text-grey);
    font-size: 15px;
    font-family: var(--anton);
}

/* newsLettter styling starts from here */
.newsLetter{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: var(--josefin);
}
.newsLetter-input input{
    border: 1px solid var(--text-grey);
    width: 80%;
    padding: 0.8rem;
    margin: 20px 0;
    font-family: var(--abelFonts);
}
.newsLetter-input input:focus{
    outline:none
}
.newsLetter-input input::placeholder{
    font-family: var(--lexend);
}
.newsLetter-btn button{
    width: 90%;
    padding: 0.8rem;
    font-family: var(--abelFonts);
    font-size: 18px;
    border: none;
    background-color: var(--sky);
}
/* newsLetter styling ended here */

/* popularTag styling is below */
.popularTags{
    font-family: var(--josefin);
    margin-top: 60px;
}
.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr; */
    text-align: center;
}
.tag{
    padding: 10px;
    background-color: var(--sky);
    margin: 5px 5px;
    border-radius: 10px;
}
/* popular styling ended here */

/* footer styling begins here */
.footer-wrapper{
    background-color: #0f0f0f;
    color: #fff;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.insta-grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-content: center;

}